<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vagas Disponíveis</title>
</head>

<body class="bg-gray-900 text-white">

    <nav class="bg-gray-800 text-gray-300">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-start">
                <div class="text-white space-x-4">
                    <a th:href="@{/candidate/profile}" class="hover:text-blue-400">Perfil</a>
                    <a th:href="@{/candidate/jobs}" class="hover:text-blue-400 bg-gray-700 rounded-md px-3 p-2"
                        th:action="@{/candidate/jobs}">Vagas</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container mx-auto mt-8 text-center">
        <form th:action="@{/candidate/jobs}">
            <input type="text" class="rounded text-black px-2 focus:outline-none w-96 mt-12 p-3" name="filter"
                placeholder="Busca de vagas">
            <button type="submit"
                class="bg-gray-500 rounded px-4 py-3 w-32 ml-2 hover:bg-gray-600 transition-colors">Buscar</button>
        </form>

        <div th:each="job : ${jobs}" class="text-white bg-gray-800 rounded-lg p-4 mb-4 shadow-md text-justify">
            <h3 th:text="${job.description}" class="font-bold"></h3>
            <span th:text="${job.level}" class="block"></span>
            <span class="mt-4 block font-bold">Benefícios</span>
            <span th:text="${job.benefits}" class="block"></span>
            <button
                class="bg-gray-500 rounded px-4 py-3 w-32 ml-2 hover:bg-gray-400 transition-colors mt-4">Aplicar</button>
        </div>


    </div>



</body>

</html>