<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cadastro de Vagas</title>
</head>

<body class="bg-white h-screen flex flex-col">

    <nav class="bg-zinc-900 p-4 flex justify-between items-center">
        <div>
            <a href="" class="text-white text-lg font-size-semibold ">Vagas</a>
        </div>
        <div>
            <a href="" class="text-white text-lg font-size-semibold ">Logout</a>
        </div>
    </nav>

    <div class="flex-grow flex items-center justify-center">
        <div class="bg-gray-200 rounded-lg p-8 w-3/4 max-w-xl shadow-lg">
            <h1 class="text-center text-gray-800 text-3xl mb-6 font-bold">Cadastro de Vagas</h1>
            <form action="" class="space-y-4">
                <label for="title">Descrição da vaga</label>
                <input type="text"
                    class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-green-600 focus:ring-2 focus:outline-none"
                    placeholder="Ex: Desenvolvedor Fullstack">

                <label for="level">Nível da vaga</label>
                <input type="text"
                    class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-green-600 focus:ring-2 focus:outline-none"
                    placeholder="Ex: Pleno">
                    
                <label for="Benefits"> Benefícios</label>
                <input type="text"
                    class="w-full bg-gray-100 text-gray-800 text-lg rounded p-2 focus:outline-green-600 focus:ring-2 focus:outline-none"
                    placeholder="Ex: Gym-Pass">

            </form>
        </div>

    </div>
</body>

</html>